/* FONTS */
@font-face {
    /*  bratsy (les titres)  */
    font-family: "bratsy";
    src: url("../assets/font/bratsy_script/Bratsy\ Script\ Demo.ttf");
}
@font-face {
    /*  arista (les textes paragraphes)  */
    font-family: "arista";
    src: url("../assets/font/arista_pro/Arista-Pro-Alternate-Light-trial.ttf");
}
@font-face {
    /* bubbleboddy (les textes paragraphes)  */
    font-family: "bubbleboddy";
    src: url("../assets/font/bubbleboddy_neue/BubbleboddyNeue-Light\ Trial.ttf");
}
@font-face {
    /* bubbleboddy (les textes paragraphes) */
    font-family: "bubble_club";
    src: url("../assets/font/bubble_club/BUBBCB__.TTF");
}

/* Responsive */
@media (max-width: 992px) {
    /*   Fin du float */
    .flex {
        display: block;
    }
}

/* Variables */
:root {
    /* Couleurs */
    --green: #8bc87a;
    --eggwhite: #fdf5bd;
    --yellow: #f3bb41;
    --orange: #f47c20;
    --red: #f2493e;
    --brown: #381915;
    /* Fonts */
    --bratsy: "bratsy";
    --arista: "arista";
    --font: "bubble_club";
}

/* BALISES GLOBALES */
footer {
    height: 100vh;
}

footer h1 {
    font-family: var(--bratsy);
    color: var(--eggwhite);
    font-weight: lighter;
    margin-bottom: -10px;
    height: 9vh;
    font-size: 35px;
}

footer h3 {
    font-family: var(--bratsy);
    color: var(--yellow);
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: -15px 0 -15px 0;;
}

.arista {
    font-family: var(--arista);
}

.bubbleboddy {
    font-family: var(--font);
}

.flex {
    display: flex;
}

.green {
    color: var(--green);
}
.brown {
    color: var(--brown);
}
.underlineNone {
    text-decoration: none;
}
.hyperLien:hover {
    font-weight: bolder;
}
.liste{
    margin-left: 25px;
}

/* BALISES PARTICULIERES */

.pCodeuse{
    height: 9vh;
}

.codeusesListe{
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;*/
    align-content: space-between; 
}

.codeuseSeule {
    display: flex;
    padding-bottom: 13px;
    height: 13%;
}

.codeuseImg {
    border-radius: 50%;
    width: 90px;
}

.texteCodeuse {
    padding-left: 10px;
}

.texteCodeuse > p {
    font-family: "Dongle", sans-serif;
    font-size: 25px;
    line-height: 25px;
}

.githubLink {
    letter-spacing: 1px;
    font-family: var(--bratsy);
    font-size: 22px;
}
.flecheFooter{
    font-size: 25px;
}

#codeusesBloc p {
    padding-bottom: 15px;
}

#divRouge {
    background-color: var(--red);
    width: 450px;
    height: 90vh;
    position: absolute;
    left: 76px;
    top: 103vh;
    z-index: 10;
    border-radius: 20px;
}

#codeusesBloc {
    background-color: var(--orange);
    width: 450px;
    height: 90vh;
    border: 3px solid var(--brown);
    z-index: 11;
    position: relative;
    border-radius: 20px;
    top: 45px;
    left: 100px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 10px;
}
#codeusesBloc h2 {
    transition: color 0.2s;
}
#codeusesBloc a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}
#codeusesBloc a:hover {
    text-decoration: none;
    color: var(--eggwhite);
}
#codeusesBloc a:hover h2 {
    text-decoration: none;
    color: var(--eggwhite);
}

.codeuseSeule {
    display: flex;
}

.nomCodeuse {
    color: var(--green);
    font-family: var(--bratsy);
    text-shadow: 0px 0px 9px #381915;
    font-weight: lighter;
    margin-bottom: -10px;
}

/* Paragraphe languages employés */

#banniere_rouge {
    width: 550px;
    padding-bottom: 50px;
}

.languesOutils{
    margin-top: -60px;
}

#languagesCode {
    position: relative;
    left: 215px;
    top: 48px;
}

#languagesCode a:hover {
    text-shadow: 0px 0px 9px var(--eggwhite);
}

#languagesCode a:visited,
a:active,
a:link {
    color: var(--orange);
}

#languagesCode p > span {
    color: var(--red);
}

ul {
    font-family: var(---font);
    color: var(--green);
    padding-top: 15px;
    padding-bottom: 15px;
}

#svgCode {
    position: relative;
    left: 60%;
    top: 101px;
}

.texteGrainCafeFooter {
    display: none;
    font-family: var(--bratsy);
    color: var(--eggwhite);
    font-size: 16px;
    position: absolute;
    top: 70px;
    left: 0px;
    font-weight: lighter;
}

#divGrainCafeFooter {
    position: absolute;
    top: 103vh;
    right: 32px;
}

#divGrainCafeFooter:hover .texteGrainCafeFooter {
    display: block;
}
