@font-face {
    /* bubbleboddy (les textes paragraphes)  */
   font-family: 'bubbleboddy';
   src: url('../assets/font/bubbleboddy_neue/BubbleboddyNeue-Light\ Trial.ttf');
}

@font-face {
    /* bubbleboddy (les textes paragraphes) */
    font-family: 'bubble club';
    src: url('../assets/font/bubble_club/');
}

* {
    box-sizing: border-box;
}

.bodyWheel {
    margin: 0;
    padding: 0;
    position: relative;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    overflow: hidden;
}

.containerWheel {
    width: 500px;
    height: 500px;
    background-color: #381915;
    border-radius: 50%;
    border: 15px solid #381915;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.containerWheel div {
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'bubbleboddy';
    color: black;
    left: 135px;
}

.spanWheel {
    position: absolute;
    top: 10%;
}

.containerWheel .one {
    left: 50%;
    background-color: #FDF5BD;
}

.containerWheel .two {
    background-color: #F3BB41;
    transform: rotate(45deg);
}

.containerWheel .three {
    background-color: #f47c20;
    transform: rotate(90deg);
}

.containerWheel .four {
    background-color: #F2493E;
    transform: rotate(135deg);
}

.containerWheel .five {
    background-color: #FDF5BD;
    transform: rotate(180deg);
}

.containerWheel .six {
    background-color: #F3BB41;
    transform: rotate(225deg);
}

.containerWheel .seven {
    background-color: #f47c20;
    transform: rotate(270deg);
}

.containerWheel .eight {
    background-color: #F2493E;
    transform: rotate(315deg);
}

.arrow {
    position: absolute;
    top: -17px;
    left: 237px;
    /* transform: translateX(-50%); */
    color: #8BC87A;
    z-index: -3;
    background-image: url(https://media.giphy.com/media/2zdkG5LcTDPEzAYP08/giphy-downsized-large.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.arrow:before {
    content: "V";
    font-family: 'bubbleboddy';
    font-weight: bolder;
    font-size: 50px;
}

#spin {
    position: absolute;
    /* top:50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: -4;
    background-color: #381915;
    text-transform: uppercase;
    border: 8px solid #381915;
    font-family: 'bubbleboddy';
    font-weight: bolder;
    font-size: 15px;
    color: #FDF5BD;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}


/* #8BC87A - vert
#FDF5BD - eggwhite
#F3BB41 - yellow
#F2493E - red
#f47c20 - orange
#381915 - Brown
 */