@font-face {
    font-family: bratsy;
    src: url('../assets/font/bratsy_script/bratsy.otf');
}

@font-face {
    font-family: 'bubble club';
    src: url('../assets/font/bubble_club/');
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Couleurs */
    --green: #8BC87A;
    --eggwhite: #FDF5BD;
    --yellow: #F3BB41;
    --orange: #f47c20;
    --red: #F2493E;
    --brown: #381915;
    --grey: #c4c4c4;
    /* Fonts */
    --bratsy: "bratsy";
    --font: "bubble club";
}


/* MEMO: On appelle les variables comme ça: 
body{
    color: var(--green);
} */

.thermosContainer {
    height: 200px;
    margin: auto;
    position: relative;
    left: 20px;
    top: -40px;
}

.thermos {
    position: relative;
    /* width: 100%;
	height: 100%;
    margin-top: 0px;
    background-image: url("../assets/img/thermos.png");
    background-repeat: no-repeat;
    z-index: 3; */
}

.imgThermos {
    position: absolute;
}

.progressBar {
    position: relative;
    width: 200px;
    height: 27px;
    border-radius: 10px;
    background-color: var(--grey);
    transform: rotate(-90deg);
    left: -55px;
    top: 110px;
    /* z-index: 1; */
}

.countdown {
    height: 27px;
    font-family: var(--font);
    font-size: 15px;
    text-align: center;
    writing-mode: vertical-rl;
    color: var(--red);
    line-height: 27px;
    /* same as #progressBar height if we want text middle aligned */
    background-color: var(--brown);
    /*  z-index: 2; */
}